.stats {
  position: fixed;
  width: 20rem;
  bottom: 10px;
  left: 10px;
  background-color: rgba(140, 140, 140, 0.2);
  border: 1px solid rgba(140, 140, 140, 0.5);
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  align-items: center;
  display: flex;
  flex-direction: column;
}
